<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-xl-5 col-md-8">
      <div class="card">
        <div class="card-header">新規作成</div>
        <div class="card-body">
          <%= render 'form', post: @post %>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col-xl-5 col-md-8 -->
  </div>
  <!-- /.row justify-content-center -->
</div>
<!-- /.container mt-3 -->
